<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lujun61.fmmall.dao.ShoppingCartMapper">
    <resultMap id="BaseResultMap" type="com.lujun61.beans.entity.ShoppingCart">
        <id column="cart_id" property="cartId" jdbcType="CHAR"/>
        <result column="product_id" property="productId" jdbcType="VARCHAR"/>
        <result column="sku_id" property="skuId" jdbcType="VARCHAR"/>
        <result column="user_id" property="userId" jdbcType="VARCHAR"/>
        <result column="cart_num" property="cartNum" jdbcType="VARCHAR"/>
        <result column="cart_time" property="cartTime" jdbcType="VARCHAR"/>
        <result column="product_price" property="productPrice" jdbcType="DECIMAL"/>
        <result column="sku_props" property="skuProps" jdbcType="VARCHAR"/>
    </resultMap>
    <resultMap id="DetailResultMap" type="com.lujun61.beans.entity.DetailShoppingCart">
        <id column="cart_id" property="cartId" jdbcType="CHAR"/>
        <result column="product_id" property="productId" jdbcType="VARCHAR"/>
        <result column="sku_id" property="skuId" jdbcType="VARCHAR"/>
        <result column="user_id" property="userId" jdbcType="VARCHAR"/>
        <result column="cart_num" property="cartNum" jdbcType="VARCHAR"/>
        <result column="cart_time" property="cartTime" jdbcType="VARCHAR"/>
        <result column="product_price" property="productPrice" jdbcType="DECIMAL"/>
        <result column="sku_props" property="skuProps" jdbcType="VARCHAR"/>

        <result column="url" property="productImg" jdbcType="VARCHAR"/>
        <result column="product_name" property="productName" jdbcType="VARCHAR"/>
        <result column="sku_name" property="skuName" jdbcType="VARCHAR"/>
        <result column="original_price" property="originalPrice" jdbcType="DOUBLE"/>
        <result column="sell_price" property="sellPrice" jdbcType="DOUBLE"/>
        <result column="stock" property="stock" jdbcType="VARCHAR"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--
          WARNING - @mbggenerated
          This element is automatically generated by MyBatis Generator, do not modify.
          This element was generated on Thu Aug 04 20:56:05 CST 2022.
        -->
        cart_id, product_id, sku_id, user_id, cart_num, cart_time, product_price, sku_props
    </sql>

    <update id="updateCartnumByCartid">
        update fmmall.shopping_cart
        set cart_num=#{cartNum}
        where cart_id = #{cartId}
    </update>

    <select id="selectShopcartByCartIds" parameterType="list" resultMap="DetailResultMap">
        select sc.cart_id,sc.product_id,sc.sku_id,sc.user_id,sc.cart_num,sc.cart_time,sc.product_price,sc.sku_props,
        p.product_name, ps.original_price, ps.sell_price, pi.url, ps.sku_name, ps.stock
        from fmmall.shopping_cart sc
        join fmmall.product p on p.product_id = sc.product_id
        join fmmall.product_sku ps on ps.sku_id = sc.sku_id
        join fmmall.product_img pi on pi.item_id = sc.product_id
        where pi.is_main = 1 and sc.cart_id in
        <foreach collection="list" item="cartId" separator="," open="(" close=")">
            #{cartId}
        </foreach>
    </select>

    <select id="selectShoppingCartByUserId" parameterType="string" resultMap="DetailResultMap">
        select sc.cart_id,
               sc.product_id,
               sc.sku_id,
               sc.user_id,
               sc.cart_num,
               sc.cart_time,
               sc.product_price,
               sc.sku_props,
               p.product_name,
               ps.original_price,
               ps.sell_price,
               pi.url,
               ps.sku_name,
               ps.stock
        from fmmall.shopping_cart sc
                 join fmmall.product p on p.product_id = sc.product_id
                 join fmmall.product_sku ps on ps.sku_id = sc.sku_id
                 join fmmall.product_img pi on pi.item_id = sc.product_id
        where pi.is_main = 1
          and sc.user_id = #{userId};
    </select>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String">
        <!--
          WARNING - @mbggenerated
          This element is automatically generated by MyBatis Generator, do not modify.
          This element was generated on Thu Aug 04 20:56:05 CST 2022.
        -->
        select
        <include refid="Base_Column_List"/>
        from shopping_cart
        where cart_id = #{cartId,jdbcType=CHAR}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
        <!--
          WARNING - @mbggenerated
          This element is automatically generated by MyBatis Generator, do not modify.
          This element was generated on Thu Aug 04 20:56:05 CST 2022.
        -->
        delete from shopping_cart
        where cart_id = #{cartId,jdbcType=CHAR}
    </delete>
    <insert id="insert" parameterType="com.lujun61.beans.entity.ShoppingCart">
        <!--
          WARNING - @mbggenerated
          This element is automatically generated by MyBatis Generator, do not modify.
          This element was generated on Thu Aug 04 20:56:05 CST 2022.
        -->
        insert into shopping_cart (cart_id, product_id, sku_id,
        user_id, cart_num, cart_time,
        product_price, sku_props)
        values (#{cartId,jdbcType=CHAR}, #{productId,jdbcType=VARCHAR}, #{skuId,jdbcType=VARCHAR},
        #{userId,jdbcType=VARCHAR}, #{cartNum,jdbcType=VARCHAR}, #{cartTime,jdbcType=VARCHAR},
        #{productPrice,jdbcType=DECIMAL}, #{skuProps,jdbcType=VARCHAR})
    </insert>
    <insert id="insertSelective" parameterType="com.lujun61.beans.entity.ShoppingCart">
        <!--
          WARNING - @mbggenerated
          This element is automatically generated by MyBatis Generator, do not modify.
          This element was generated on Thu Aug 04 20:56:05 CST 2022.
        -->
        insert into shopping_cart
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="cartId != null">
                cart_id,
            </if>
            <if test="productId != null">
                product_id,
            </if>
            <if test="skuId != null">
                sku_id,
            </if>
            <if test="userId != null">
                user_id,
            </if>
            <if test="cartNum != null">
                cart_num,
            </if>
            <if test="cartTime != null">
                cart_time,
            </if>
            <if test="productPrice != null">
                product_price,
            </if>
            <if test="skuProps != null">
                sku_props,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="cartId != null">
                #{cartId,jdbcType=CHAR},
            </if>
            <if test="productId != null">
                #{productId,jdbcType=VARCHAR},
            </if>
            <if test="skuId != null">
                #{skuId,jdbcType=VARCHAR},
            </if>
            <if test="userId != null">
                #{userId,jdbcType=VARCHAR},
            </if>
            <if test="cartNum != null">
                #{cartNum,jdbcType=VARCHAR},
            </if>
            <if test="cartTime != null">
                #{cartTime,jdbcType=VARCHAR},
            </if>
            <if test="productPrice != null">
                #{productPrice,jdbcType=DECIMAL},
            </if>
            <if test="skuProps != null">
                #{skuProps,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.lujun61.beans.entity.ShoppingCart">
        <!--
          WARNING - @mbggenerated
          This element is automatically generated by MyBatis Generator, do not modify.
          This element was generated on Thu Aug 04 20:56:05 CST 2022.
        -->
        update shopping_cart
        <set>
            <if test="productId != null">
                product_id = #{productId,jdbcType=VARCHAR},
            </if>
            <if test="skuId != null">
                sku_id = #{skuId,jdbcType=VARCHAR},
            </if>
            <if test="userId != null">
                user_id = #{userId,jdbcType=VARCHAR},
            </if>
            <if test="cartNum != null">
                cart_num = #{cartNum,jdbcType=VARCHAR},
            </if>
            <if test="cartTime != null">
                cart_time = #{cartTime,jdbcType=VARCHAR},
            </if>
            <if test="productPrice != null">
                product_price = #{productPrice,jdbcType=DECIMAL},
            </if>
            <if test="skuProps != null">
                sku_props = #{skuProps,jdbcType=VARCHAR},
            </if>
        </set>
        where cart_id = #{cartId,jdbcType=CHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.lujun61.beans.entity.ShoppingCart">
        <!--
          WARNING - @mbggenerated
          This element is automatically generated by MyBatis Generator, do not modify.
          This element was generated on Thu Aug 04 20:56:05 CST 2022.
        -->
        update shopping_cart
        set product_id = #{productId,jdbcType=VARCHAR},
        sku_id = #{skuId,jdbcType=VARCHAR},
        user_id = #{userId,jdbcType=VARCHAR},
        cart_num = #{cartNum,jdbcType=VARCHAR},
        cart_time = #{cartTime,jdbcType=VARCHAR},
        product_price = #{productPrice,jdbcType=DECIMAL},
        sku_props = #{skuProps,jdbcType=VARCHAR}
        where cart_id = #{cartId,jdbcType=CHAR}
    </update>
    <delete id="delByCartId">
        delete
        from fmmall.shopping_cart
        where cart_id = #{cartId,jdbcType=VARCHAR}
    </delete>

    <delete id="batchDelByCartIds">
        delete
        from fmmall.shopping_cart
        where cart_id in
        <foreach collection="list" open="(" close=")" item="cid" separator=",">
            #{cid}
        </foreach>
    </delete>
</mapper>